.query-group-box {

}

.group-list,
.query-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.operator, .value{
  width: 100%
}

::ng-deep{
  .cdk-drag{
    width: calc(100% - 20px);
  }
}

.query-group {
  margin-bottom: 15px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}

.query-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px dashed #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
}

.cdk-drag-preview {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0.5;
  background: #ccc;
}
.cdk-drag {
  width: 100%;
}

.query-row .field {
  flex: 0 0 35%;
  margin-right: 10px;
}

.query-row select.operator {
  flex: 0 0 15%;
  margin-right: 10px;
}

.query-row .value {
  flex: 0 0 35%;
  margin-right: 10px;
}