<div class="query-group-box">
    <div class="query-group">
        <div style="display: flex; justify-content: space-between">
            <div>
                {{ index }}
                <label>Condition:</label>
                <label>
                    <input type="radio" [(ngModel)]="group.condition" value="AND"> AND
                </label>
                <label>
                    <input type="radio" [(ngModel)]="group.condition" value="OR"> OR
                </label>
            </div>
            <div style="display: flex; gap: 5px">
                <button type="button" (click)="addQuery()">Add Query</button>
                <button type="button" (click)="addGroup()">Add Child Group</button>
                <button type="button" *ngIf="index!== null && index > -1" (click)="removeGroup.emit(index)">Remove
                    Group
                </button>
            </div>
        </div>

        <div
                cdkDropList
                [cdkDropListData]="group.items"
                (cdkDropListDropped)="onDropQuery($event)"
                class="query-list"
        >
            <div
                    *ngFor="let item of group.items; let i = index"
                    cdkDrag
                    class="query-row"
            >
                <ng-container *ngIf="item.type === 'condition'; else groupTemplate">
                    <div class="field">
                        <ng-container *ngTemplateOutlet="fieldTemplate; context: { $implicit: item }"></ng-container>
                    </div>
                    <select class="operator" [(ngModel)]="item.operator">
                        <option value="=">=</option>
                        <option value="!=">!=</option>
                        <option value=">">></option>
                        <option value="<"><</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                    </select>
                    <div class="value">
                        <ng-container *ngTemplateOutlet="valueTemplate; context: { $implicit: item }"></ng-container>
                    </div>
                    <button type="button" (click)="removeQuery(i)">Remove</button>
                </ng-container>
                <ng-template #groupTemplate>
                    <app-query-group
                            style="width: calc(100% - 15px)"
                            [group]="item"
                            [index]="i"
                            (removeGroup)="removeSubGroup(i)"
                            (dropQuery)="dropQuery.emit($event)"
                    ></app-query-group>
                </ng-template>
            </div>
        </div>
    </div>
</div>