.group-list,
.query-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.query-group {
  margin-bottom: 15px;
}

.query-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px dashed #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
}

.cdk-drag-preview {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0.5;
  background: #ccc;
}
